html, body, div, span, p, h1, h2, h3, h4, h5, h6, textarea, a, em, img, strong, ul, li, form, label, table, tr, th, td, fieldset {
 margin:0;
 padding:0;
 border:none;
 outline:none;
}


body {
	background: #f5f5f5;
	padding: 25px 0 0 0;
	font-size: 12px;
	background: url(../images/mainbg.jpg) top no-repeat;
	background-attachment:fixed;
	color: #fff;
	font-family:Georgia, "Times New Roman", Times, serif;
}

a {
	color: #fff;
	text-decoration:none;
	font-weight: bold;
}

a:hover {
	text-decoration: underline;
	color: #FFD57E;
}

ul, li {
	list-style: none;
	}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Parisienne', cursive;
}

h1 {
	padding: 20px 0 50px 0;
	font-size: 36px;
	color: #ffd57e;
	text-align:center;
	background: url(../images/h1bg.png) center 75px no-repeat;
	}

h2 {
	font-size: 34px;
	}

input[type=text],input[type=password], textarea {
	border: 1px solid #6c1508;
	background: #430000;
	border-radius: 5px;
	color: #fff;
}

input[type=text], input[type=password] {
	height: 20px;
	padding: 5px;
	width: 288px;
}

input[type=submit], button[type=submit] {
	padding: 5px;
	background: #998675;
	border-radius: 3px;
	font-weight: bold;
	border: none;
}

.rightCont input[type=text], .rightCont input[type=password] {
	width: 270px;
	}

fieldset label {
	display:block;
	padding: 10px 0 3px 0;
	}

.search label {
	text-indent: -9999px;
	display: none;
	}

fieldset dt {
	display:block;
	padding: 10px 0;
	}

fieldset dd {
	display:block;
	padding: 5px 0;
	margin: 0px;
	}

.clear {
	clear:both;
	position:relative;
	font-size:0;
	height:0;
	display:block;
	line-height:0;
}

.noMar {
	margin-right: 0 !important;
}


.mainContainer {
	width: 950px;
	background: #430000;
	margin: 0 auto;
	padding: 15px;
	border-radius: 20px;
	box-shadow: 0 0 10px #000;
}

.overHid {
	display:block;
	overflow: hidden;
	position: relative;
}

.header {
	margin-bottom: 10px;
	}

.logo {
	display:block;
	width:300px;
	height:90px;
	float: left;
}

.logo-text {
	display:block;
	width:300px;
	height:90px;
	float: left;
}

.logo-text .siteLogoText a {
	color: #fff;
	font-weight: bold;
	letter-spacing: -1px;
	font-size: 20px;
	}

.site-slogan {
	font-size: 14px;
	}

.bannerTop {
	width: 650px;
	height:90px;
	float: left;
	overflow:hidden;
}

.nav1 {
	text-transform: uppercase;
	padding: 20px 0 10px 20px;
}

.nav1 a {
	padding: 0 25px 0 0;
}


.leftCont {
	width: 630px;
	float: left;
	padding: 20px 20px 0 0;
}

.intro {
	padding: 10px 0;
	}

.leftCont p, #archive-items p {
	line-height: 1.5em;
	}

.rightCont {
	width: 300px;
	float: left;
	padding: 20px 0 0 0;
}

.post {
	float: left;
	width: 325px;
	padding-bottom: 20px;
	border-bottom: 1px solid #ececec;
}

.post h2 {
	padding: 10px 0;
	font-size: 18px;
}

.postFeat2 {
	float: left;
	width: 315px;
	padding: 10px 10px 10px 0;
	border-bottom: 1px solid #ececec;
}

.leftCont h3 {
	font-size:36px;
	color: #cbcbcb;
	padding: 20px 0 0 0;
	}

.postFeat2 .textFeat {
	position: relative;
	display: block;
	height: 72px;
	padding: 5px 0 0 80px;
	overflow: hidden;
}

.textFeat img {
	top: 5px;
	left: 0px;
	position:absolute;
}

.textFeat span {
	display: block;
	font-size: 14px;
	color: #cbcbcb;
	}

.textFeat a {
	display: block;
	font-size: 9px;
	color: #cbcbcb;
	}

.textFeat b {
	display: block;
	font-size: 10px;
	color: #6d6d6d;
	padding-top: 10px;
	text-transform: uppercase;
	}

.rightCont .moduletable_menu,.rightCont .moduletable {
	padding: 80px 0 10px 0;
	position:relative;
}

.rightCont .moduletable_menu a,.rightCont .moduletable a{
	display:block;
	padding: 10px 0 10px 15px;
	color: #fff;
	font-size: 13px;
	font-weight: bold;
}

.rightCont .moduletable_menu a:hover,.rightCont .moduletable a:hover {
	text-decoration: none;
	color: #FFD57E;
	}
	
.rightCont .moduletable_menu h3,.rightCont .moduletable h3 {
	font-size: 28px;
	padding: 7px 12px 20px 12px;
	color: #ffd57e;
	width: 276px;
	position: absolute;
	top:0px;
	left:0px;
	background: url(../images/h3bg.png) left 50px no-repeat;
}

.rightCont .moduletable div {
	padding: 0 10px;
	}

.featLinks p {
	overflow: hidden;
}

.featLinks p a {
	background: url(../images/link-p.gif) left no-repeat;
	padding: 10px 10px 10px 15px;
	display: block;
	float: left;
}

.readmore {
	display:block;
	overflow:hidden;
	padding: 10px 0;
	font-size: 10px;
	}

.readmore a {
	padding: 5px;
	background: #2f0707;
	border-radius: 5px 10px;
	padding: 5px 10px;
	float:right;
	font-weight: normal;
	}

.footer {
	width: 922px;
	margin: 0 auto;
	padding: 30px;
	overflow: hidden;
}

.bottomBor {
	height: 7px;
	font-size: 0px;
	width: 982px;
	margin: 0 auto;
	background: #1e1e1e
}

.colFoot {
	width: 286px;
	color: #cbcbcb;
	float: left;
	padding-right: 10px;
}

.colFoot .moduletable {
    padding: 0 10px 10px 0;
	}

.colFoot .moduletable h3 {
	font-size: 40px;
	}

.colFoot a{
	padding: 5px 0 0 0 ;
	color: #cbcbcb;
	display:block;
	}

.pagination {
	display:block;
	position: relative;
	}

.counter {
	text-align: center;
	}
	
.pagination {
	padding: 20px 0;
	overflow:hidden;
	}

.pagination ul, .pagenav  {
	display:block;
	position: relative;
	overflow:hidden;
	}

ul.pagenav {
	padding: 10px 0;
	}

.pagination ul {
	padding: 20px 0;
	}

.pagination ul li, .pagenav li {
	background: none repeat scroll 0 0 #2F0707 !important;
    border-radius: 5px 10px 5px 10px;
    float: left;
    font-weight: normal;
    padding: 5px 10px !important;
	margin-right: 10px;
	}
	

.item-page {
	position:relative;
	display:block;
	}

.actions {
    position: absolute;
    right: 0px;
    top: 5px;
	overflow: hidden;
	background: none repeat scroll 0 0 #2C0404;
    border: 1px solid #570909;
    border-radius: 5px 5px 5px 5px;
	padding: 5px 5px 5px 15px;
}

.actions li {
	float:right;
	position: relative;
	top: 6px;
	background: none !important;
	padding: 0px !important;
	}

.cat-children li {
	background: none repeat scroll 0 0 #2C0404;
    border: 1px solid #570909;
    border-radius: 5px 5px 5px 5px;
	padding: 10px;
	margin-bottom: 10px;
	}

.cat-children li ul li {
	border: none;
	background:#541515;
	float: left;
    margin-right: 10px;
    margin-top: 20px;
	border: 1px solid #fff;
}

.leading-0 {
	position: relative;
	overflow:hidden;
	padding: 0 0 0 0;
	margin: 0 0 10px 0;
	}

.leading-0 img {
	float:left;
	margin: 0 10px 10px 0;
	}

.leading-0 h2 {
	padding-bottom: 10px;
	font-size: 34px;
	}

.items-row {
	overflow:hidden;
	}

.items-row .item {
	float:left;
	padding: 0 10px 10px 0;
	}
	
.blog-featured .column-1,.blog-featured .column-2,.blog-featured .column-3 {
	width: 200px;
	}

.item-page p, .item-page li {
	line-height: 2em;
	}

.item-page li {
	padding-left: 20px;
	background: url(../images/li-bul.png) left no-repeat;
	}
	
.item-page, .category-desc {
	display:block;
	overflow:hidden;
	padding: 0 0 20px 0;
	}

.item-page img, .category-desc img {
	float:left;
	margin: 0 10px 10px 0;
	}

.categories-list .item-title {
	font-size: 18px;
	padding: 0 10px 5px 0;
	border-bottom: 1px dotted #000;
	display:block;
	margin-bottom: 10px;
	}

.footer .postFeat2 {
	border-bottom: 1px solid #5a5a5a;
	width: 266px;
}

.article-info {
	display:block;
	overflow:hidden;
	padding: 20px;
	border: 1px solid #570909;
	background: #2c0404;
	border-radius: 5px;
	}

.article-info dt {
	margin-right: 10px;
	font-size: 22px;
	clear:right;
	}

.article-info dd {
	margin: 0;
	padding: 5px 0 0 0;
	}

.article-info dd.parent-category-name {
	font-size: 10px;
	}

.article-info dd.category-name {
	font-size: 10px;
	}

.article-info dd.create {
	font-size: 9px;
	text-align:right;
	float:left;
	margin-right: 5px;
	}

.article-info dd.modified {
	font-size: 9px;
	text-align:right;
	float:left;
	margin-right: 5px;
	}

.article-info dd.published {
	font-size: 9px;
	text-align:right;
	float:left;
	margin-right: 5px;
	}

.article-info dd.createdby {
	font-size: 10px;
	clear: both;
	}

.article-info dd.hits {
	font-size: 10px;
	}

.mostread  {
	padding: 20px 0;
	list-style-type:decimal;
	}
	

ul.mostread li {
	padding-top: 10px;
	list-style-type:decimal;
	}

#form-login-remember {
	overflow:hidden;
	padding-bottom: 10px;
	}

#form-login-remember label, #form-login-remember input {
	float:left;
	display:block;
	}

#form-login-remember input {
	position:relative;
	top: 8px;
	}

#login-form a{
	display:inline;
	background: none;
	border: none;
	font-weight: normal;
	font-size: 10px;
	padding: 0 5px 0 0;
	}

.nav2 {
	background: #650303;
	font-size: 13px;
	position:relative;
	height: 45px;
	margin-bottom: 10px;
	border-radius: 5px;
	box-shadow: 0 0 3px #000;
}

.nav2 .menu a {
	color:#c8c8c8;
	height: 20px;
	float:left;
	line-height: 1em;
	padding: 15px 25px 10px 20px; 
	background: url(../images/nav2bg.jpg) right no-repeat;
}

.nav2 .menu li ul a {
	height: auto;
	float:none;
	padding: 0; 
	background: none;
}

.nav2 .menu a:hover {
	color: #fff;
	text-decoration: none;
}

.nav2 .menu {
	z-index: 40000;
	position:absolute;
	top: 0px;
	}

.breadcrumbs {
	padding: 15px 0;
	}

form label {
	display:block;
	padding-top:10px;
	}

.sliderPlace {
	height: 360px;
	position:relative;
	z-index: 997;
}

/* 
	LEVEL ONE
*/
.nav2 .menu li { float:left;}
.menu li.deeper                          { position: relative; }
.menu li.deeper  li                      {  float: left; zoom: 1; background: #650303; font-size: 10px; }
.menu li.deeper  a:hover		            { color: #000; }
.menu li.deeper  a:active                { color: #ffa500; }
.menu li.deeper  li a                    { display: block; padding: 4px 8px; border-right: 1px solid #333;
	 								  color: #fff; }
.menu li.deeper  li:last-child a         { border-right: none; } /* Doesn't work in IE */
.menu li.deeper  li.hover,
.menu li.deeper  li:hover                { background: #460000; color: black; position: relative; color: #650303; }
.menu li.deeper  li.hover a              { color: #fff; }


/* 
	LEVEL TWO
*/
.menu li.deeper  ul 						{ width: 220px; visibility: hidden; position: absolute; top: 100%; left: 0;}
.menu li.deeper  ul li 					{ font-weight: normal; background: #650303; color: #b10101; padding: 5px; 
									  border-bottom: 1px solid #ccc; float: none;}

.menu li.deeper  li li a  { color: #fff;}
				  
                                    /* IE 6 & 7 Needs Inline Block */
.menu li.deeper  ul li a					{ border-right: none; width: 100%; display: inline-block; } 

/* 
	LEVEL THREE
*/
.menu li.deeper  ul ul 					{ left: 100%; top: 0; }
.menu li.deeper  li:hover > ul 			{ visibility: visible; }
.fbic, .twic, .goic {
	display:block;
	float:right;
	width: 32px;
	height: 32px;
	margin-top: 30px;
	margin-left: 10px;
	}

.fbic { background: url(../images/fb-ic.png) no-repeat;}
.twic { background: url(../images/tw-ic.png) no-repeat;}
.goic { background: url(../images/go-ic.png) no-repeat;}

ul.dropdown ul li					{ display: inline; width: 100%; } 