/**
* @author    JoomlaShine.com http://www.joomlashine.com
* @copyright Copyright (C) 2008 - 2011 JoomlaShine.com. All rights reserved.
* @license   JoomlaShine.com Proprietary License
*/
/* ============================== DEFAULT HTML ============================== */
a {
	color: #c14746;
}
#jsn-footer a:hover,
#jsn-footer .menu-divmenu a {
	background:#c14746;
	color:#fff;
	text-decoration:none;
}
#jsn-promo {
	background: url("../../images/colors/red/bg-promo.jpg") fixed top center no-repeat #000 ;
}
/* ============================== LAYOUT ============================== */
/* =============== LAYOUT - OVERALL PAGE =============== */
/* ============================== TYPOGRAPHY ============================== */
/* =============== TYPOGRAPHY - LINK STYLES =============== */
/* ----- ACTION LINK ----- */
.link-action:hover {
	background-color: #c14746;
}
/* =============== TYPOGRAPHY - TABLE STYLES =============== */
/* ----- COLOR HEADER TABLE ----- */
table.style-colorheader thead th {
	background-color: #c14746;
	border-right: 1px groove #fff;
}
/* ----- COLOR STRIPES TABLE ----- */
table.style-colorstripes td,
table.style-colorstripes th {
	border-bottom: 1px solid #fff;
	border-right: 1px groove #fff;
}
table.style-colorstripes thead th {
	background-color: #843531;
}
table.style-colorstripes thead th.highlight {
	background-color: #6b2724;
}
table.style-colorstripes tbody tr {
	background-color: #c14746;
}
table.style-colorstripes tbody .highlight {
	background-color: #f49492;
}
table.style-colorstripes tbody tr.odd {
	background-color: #9d433e;
}
table.style-colorstripes tbody tr.odd .highlight {
	background-color: #eb807e;
}
table.style-colorstripes tbody tr:hover th,
table.style-colorstripes tbody tr:hover td {
	background-color: #581f1c;
}
table.style-colorstripes tbody tr:hover .highlight {
	background-color: #e36c6a;
}
table.style-colorstripes tbody td,
table.style-colorstripes tbody th {
	border-left: none;
	border-right: 1px solid #fff;
}
table.style-colorstripes tfoot th,
table.style-colorstripes tfoot td {
	background-color: #843531;
}
.sectiontableheader {
	background-color: #c14746;
}
/* ----- GREY STRIPES TABLE ----- */
table.style-greystripes thead th.highlight {
	background-color: #222;
}
/* ============================== MENU ============================== */
/* =============== MENU - MAIN MENU =============== */
/* ----- 1st LEVEL ----- */
div.jsn-modulecontainer ul.menu-mainmenu li:hover > a {
	color:#c14746;
}
div.jsn-modulecontainer ul.menu-mainmenu > li.active > a{
	color:#fff;
}
div.jsn-modulecontainer ul.menu-mainmenu > li.active > a {
	background-color:  #c14746;
}
div.jsn-modulecontainer ul.menu-mainmenu > li.parent.active > a{
	background:url(../../images/dropdown-w.png) no-repeat scroll 90% 12px #c14746;
}
ul.menu-mainmenu > li > ul:after {
	border-bottom: 6px solid #c14746;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    content: "";
    display: inline-block;
    height: 0;
    left: 30px;
    position: absolute;
    top: -9px;
    width: 0;
}
div.jsn-modulecontainer ul.menu-mainmenu ul,
#jsn-menu div.display-dropdown.jsn-modulecontainer .jsn-modulecontent {
	border-top:3px solid #c14746;
}
#jsn-menu div.display-dropdown.jsn-modulecontainer .jsn-modulecontent:after {
	border-bottom: 6px solid #c14746;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    content: "";
    display: inline-block;
    height: 0;
    right: 30px;
    position: absolute;
    top: -9px;
    width: 0;
}
#jsn-pos-toolbar div.jsn-modulecontainer ul.menu-mainmenu ul li a {
	border-right: 1px solid #843531;
}
body.jsn-direction-rtl #jsn-pos-toolbar div.jsn-modulecontainer ul.menu-mainmenu ul li a {
	border-left: 1px solid #843531;
}
/* ----- HOVER STATE ----- */
div.jsn-modulecontainer ul.menu-mainmenu ul li:hover > a {
	color:#c14746;
}
/* ----- ACTIVE STATE ----- */
div.jsn-modulecontainer ul.menu-mainmenu ul li.active > a {
	color:#c14746;
}
/* =============== MENU - TREE MENU =============== */
/* ----- CURRENT / HOVER STATE ----- */
div[class*="richbox-"] ul.menu-treemenu li a:hover,
div[class*="richbox-"] ul.menu-treemenu li a.current {
	color:#c14746;
}
/* =============== MENU - SIDE MENU =============== */
/* ---------- 1st LEVEL ---------- */
div.jsn-modulecontainer ul.menu-sidemenu ul li {
	border-left:3px solid #c14746;
}
div.jsn-modulecontainer ul.menu-sidemenu ul > li:hover > a,
div.jsn-modulecontainer ul.menu-sidemenu ul > li.active > a {
	color:#c14746;
}
/* ----- HOVER STATE IN SPECIFIC MODULE BOXES ----- */

/* ----- ACTIVE STATE ----- */
div[class*="box-"] ul.menu-sidemenu > li:hover > a,
div[class*="box-"] ul.menu-sidemenu > li.active > a {
	color: #c14746;
}
/* ----- ACTIVE STATE IN SPECIFIC MODULE BOXES ----- */

/* ============================== SITE TOOLS ============================== */
/* =============== SITE TOOLS - GENERAL PRESENTATION =============== */
/* ----- DROP DOWN ----- */
ul#jsn-sitetools-menu li ul {
	background-color: #fff;
	border:3px solid #c14746;
}
/* ============================== JOOMLA! DEFAULT EXTENSIONS ============================== */
/* =============== JOOMLA! EXTENSIONS - MOD_SEARCH =============== */
#jsn-pos-top div.search input#mod_search_searchword {
	border: 1px solid #c14746;
}
/* =============== JOOMLA! EXTENSIONS - COM_CONTENT =============== */
/* ----- SECTION / CATEGORY BLOG LAYOUT ----- */
/* PAGE PAGINATION */
ul.jsn-pagination li.navigation-page span {
	background-color: #4786BE;
}