/*
 * jQuery Nivo Slider v2.7.1
 * http://nivo.dev7studios.com
 *
 * Copyright 2011, Gilbert Pellegrom
 * Free to use and abuse under the MIT license.
 * http://www.opensource.org/licenses/mit-license.php
 * 
 * March 2010
 */
 
 
/* The Nivo Slider styles */
.nivoSlider {
	position:relative;
}
.nivoSlider img {
	position:absolute;
	top:0px;
	left:0px;
}

/* If an image is wrapped in a link */
.nivoSlider a.nivo-imageLink {
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	border:0;
	padding:0;
	margin:0;
	z-index:6;
	display:none;
}
/* The slices and boxes in the Slider */
.nivo-slice {
	display:block;
	position:absolute;
}
.nivo-box {
	display:block;
	position:absolute;
}
/* Caption styles */
.nivo-caption {
	position:absolute;
	top: 281px;
	left:0px;
	color:#fff;
	opacity:0.8; /* Overridden by captionOpacity setting */
	width:100%;
	z-index:8;
	background: url(../images/caption-bg.png);
}


.nivo-caption p {
	padding:25px;
	margin:0;
	border-top: 1px solid #7b7b7b;
	font-size: 25px;
}
.nivo-caption a {
	display:inline !important;
}
.nivo-html-caption {
    display:none;
}
/* Direction nav styles (e.g. Next & Prev) */
.nivo-directionNav a {
	position:absolute;
	top: 156px !important;
	z-index:9;
	cursor:pointer;
	width: 35px;
	height: 35px;
	text-indent: -9999px;
}

.nivo-prevNav {
	left:15px;
	background: url(../images/prev-slide.png) no-repeat;
}
.nivo-nextNav {
	right:15px;
	background: url(../images/next-slide.png) no-repeat;
}
/* Control nav styles (e.g. 1,2,3...) */

.nivo-controlNav {
	position: absolute;
	padding: 20px;
	top: 298px;
	right: 0px;
	text-indent: -9999px;
	overflow: hidden;
	width: 90px;
	}

.nivo-controlNav a {
	position:relative;
	float:left;
	z-index:9;
	cursor:pointer;
	width: 12px;
	display:block;
	height: 12px;
	background: url(../images/nivo-number.png) no-repeat;
	margin-right: 3px;
}
.nivo-controlNav a.active {
	font-weight:bold;
	width: 12px;
	background: url(../images/nivo-number-active.png) no-repeat;
}