/*------------------------------------------------------------------------
# JF_VIHREA!! - JOOMFREAK.COM JOOMLA 2.5 TEMPLATE 
# March 2013
# ------------------------------------------------------------------------
# COPYRIGHT: (C) 2013 JOOMFREAK.COM / KREATIF MULTIMEDIA GMBH
# LICENSE: Creative Commons Attribution
# AUTHOR: JOOMFREAK.COM
# WEBSITE: http://www.joomfreak.com - http://www.kreatif-multimedia.com
# EMAIL: info@joomfreak.com
-------------------------------------------------------------------------*/


#right ul.menu ul
{zoom:1;}

#users-profile-core legend,
#users-profile-custom legend,
.profile-edit legend,
.registration legend
{margin-bottom:15px}

.login-fields input
{width:14em}

#close a
{
	cursor:pointer
}

#close a span
{
	line-height:normal
}

.clr {
	clear: both;
}

span.catItemImage a:hover div.thumb-overlay-inner {
	display: none;
}
/*
span.catItemImage a:hover span.thumb-overlay {
	display: none;
}

div.news span.catItemImage a:hover span.thumb-overlay-icon {
	display: none;
}
*/

