/**
* @author    JoomlaShine.com http://www.joomlashine.com
* @copyright Copyright (C) 2008 - 2011 JoomlaShine.com. All rights reserved.
* @license   JoomlaShine.com Proprietary License
*/
body {
	font-family: "Trebuchet MS", Helvetica, sans-serif;
}
body h1,
body h2,
body h3,
body h4,
body h5,
body h6,
body #jsn-menu a,
body #jsn-menu span,
body .componentheading,
body .contentheading,
body .pathway {
	font-family: Georgia, serif;
}
body.jsn-textsize-medium {
	font-size: 80%;
}