/**
* @author    JoomlaShine.com http://www.joomlashine.com
* @copyright Copyright (C) 2008 - 2011 JoomlaShine.com. All rights reserved.
* @license   JoomlaShine.com Proprietary License
*/
/* ============================== DEFAULT HTML ============================== */
/* =============== DEFAULT HTML - GENERAL STYLES =============== */
body {
	position: relative;
	overflow-x: hidden;
}
/* =============== DEFAULT HTML - TEXT STYLES =============== */
pre {
	border-left: none;
	border-right: 5px solid #404040;
}
blockquote {
	padding-left: 0;
	padding-right: 55px;
	background: url(../images/icons/icon-text-blockquote-rtl.png) no-repeat top right;
}
/* =============== DEFAULT HTML - LIST STYLES =============== */
ul li {
	margin-right: 1.6em;
	margin-left: 0;
}
ol li {
	margin-right: 2em;
	margin-left: 0;
}
/* ============================== LAYOUT ============================== */
#jsn-page {
	text-align: right;
}
/* =============== LAYOUT - HEADER AREA =============== */
#jsn-logo {
    float: right;
}
#jsn-pos-top div.jsn-modulecontainer {
	float: left;
	margin-left: 0;
	margin-right: 10px;
}
/* =============== LAYOUT - MENU AREA =============== */
#jsn-gotoplink {
	left:10px;
	right:auto;
}
#jsn-pos-mainmenu {
	float: right;
	margin-left: 0;
	margin-right: 1px;
	direction: ltr;
}
#jsn-pos-toolbar {
	float: left;
}
#jsn-pos-toolbar div.jsn-modulecontainer {
	float: left;
	margin-right: 10px;
	margin-left: 0;
}
#jsn-menu div.jsn-modulecontainer {
	float: right;
}
#jsn-menu #jsn-pos-mainmenu div.display-dropdown.jsn-modulecontainer .jsn-modulecontent {
	right: 0;
	left: auto;
}
#jsn-menu div.display-dropdown.jsn-modulecontainer .jsn-modulecontent {
	left: 0;
	right: auto;
}
#jsn-menu #jsn-pos-toolbar div.jsn-modulecontainer {
	float: right;
	margin-right: 10px;
	margin-left: auto;
}
/* =============== MENU - TOOLBAR POSITION =============== */
#jsn-pos-toolbar div.jsn-modulecontainer ul.menu-mainmenu ul {
	left: 0;
	right: auto;
}
div.jsn-modulecontainer ul.menu-mainmenu > li.parent {
	background:url("../images/dropdown.png") no-repeat scroll 4% 12px transparent;
}
div.jsn-modulecontainer ul.menu-mainmenu > li.parent.active > a {
	padding-left: 23px;
	padding-right: 15px;
}
div.jsn-modulecontainer ul.menu-mainmenu > li.parent.active > a {
	background-position:12% 12px;
}
div.jsn-modulecontainer ul.menu-mainmenu > li {
	margin-left:0;
	margin-right:10px;
}
ul.menu-mainmenu > li > ul:after {
	right: 30px;
	left: auto;
}
#jsn-pos-toolbar div.jsn-modulecontainer ul.menu-mainmenu ul li.parent > a {
    background-image: url("../images/icons/icon-arrow-white.png");
    background-position: 98% center;
    padding-left: 12px;
    padding-right: 16px;
}
#jsn-pos-toolbar div.jsn-modulecontainer ul.menu-mainmenu ul li a {
    border-left: 1px solid #162C40;
    text-align: left;
}
div.jsn-modulecontainer ul.menu-treemenu > li > a:hover,
div.jsn-modulecontainer ul.menu-sidemenu li a:hover,
div.jsn-modulecontainer ul.menu-mainmenu li ul li a:hover {
	padding-right:10px !important;
}
/* =============== LAYOUT - CONTENT AREA =============== */
#jsn-content {
	direction: ltr;
}
#jsn-leftsidecontent_inner,
#jsn-rightsidecontent_inner,
#jsn-pos-innerleft_inner,
#jsn-centercol_inner,
#jsn-pos-innerright_inner {
	direction: rtl;
}
.breadcrumb span.divider {
    background: url("../images/icons/icon-arrow-black-rtl.png") no-repeat scroll center center;
}
/* =============== LAYOUT - FOOTER AREA =============== */
/* ============================== TYPOGRAPHY ============================== */
/* =============== TYPOGRAPHY - CONTENT COLUMMNS =============== */
div.grid-layout div.grid-col div.grid-col_inner {
	margin-right: 0;
	margin-left: 10px;
}
div.grid-layout div.grid-lastcol div.grid-col_inner {
	margin-left: 0;
}
/* =============== TYPOGRAPHY - TEXT STYLES =============== */
.text-dropcap p:first-child:first-letter,
p.text-dropcap:first-child:first-letter {
	float: right;
	float: none\0/;
}
.text-tip,
.text-info,
.text-alert,
.text-audio,
.text-video,
.text-comment,
.text-download,
.text-attachment {
	padding-left: 1em;
	padding-right: 5em;
	background-position: 98% center;
	display: inline-block;
}
/* =============== TYPOGRAPHY - LINK STYLES =============== */
/* ----- ICON LINK ----- */
.link-icon {
	display: inline-block;
	padding-left: 0;
	padding-right: 24px;
}
/* ----- EXTENDED LINK ----- */
.link-icon-ext {
	padding-left: 24px;
	padding-right: 0;
}
.link-icon-ext.jsn-icon-ext-aim {
	background-position: left 0;
}
.link-icon-ext.jsn-icon-ext-archive {
	background-position: left -86px;
}
.link-icon-ext.jsn-icon-ext-mobile {
	background-position: left -172px;
}
.link-icon-ext.jsn-icon-ext-css {
	background-position: left -258px;
}
.link-icon-ext.jsn-icon-ext-application {
	background-position: left -344px;
}
.link-icon-ext.jsn-icon-ext-doc {
	background-position: left -430px;
}
.link-icon-ext.jsn-icon-ext-feed {
	background-position: left -516px;
}
.link-icon-ext.jsn-icon-ext-movie {
	background-position: left -602px;
}
.link-icon-ext.jsn-icon-ext-flash {
	background-position: left -688px;
}
.link-icon-ext.jsn-icon-ext-calendar {
	background-position: left -774px;
}
.link-icon-ext.jsn-icon-ext-mail {
	background-position: left -860px;
}
.link-icon-ext.jsn-icon-ext-quicktime {
	background-position: left -946px;
}
.link-icon-ext.jsn-icon-ext-msn {
	background-position: left -1032px;
}
.link-icon-ext.jsn-icon-ext-music {
	background-position: left -1118px;
}
.link-icon-ext.jsn-icon-ext-pdf {
	background-position: left -1204px;
}
.link-icon-ext.jsn-icon-ext-powerpoint {
	background-position: left -1290px;
}
.link-icon-ext.jsn-icon-ext-skype {
	background-position: left -1376px;
}
.link-icon-ext.jsn-icon-ext-torrent {
	background-position: left -1462px;
}
.link-icon-ext.jsn-icon-ext-font {
	background-position: left -1548px;
}
.link-icon-ext.jsn-icon-ext-text {
	background-position: left -1634px;
}
.link-icon-ext.jsn-icon-ext-vcard {
	background-position: left -1720px;
}
.link-icon-ext.jsn-icon-ext-windowsmedia {
	background-position: left -1806px;
}
.link-icon-ext.jsn-icon-ext-xls {
	background-position: left -1892px;
}
.link-icon-ext.jsn-icon-ext-yahoo {
	background-position: left -1978px;
}
/* =============== TYPOGRAPHY - TABLE STYLES =============== */
table.table-style th,
table.table-style td,
table.table-style tbody th,
table.table-style tbody td {
	text-align: right;
}
table.table-style tfoot td {
	text-align: left;
}
/* =============== TYPOGRAPHY - LIST STYLES =============== */
/* ----- ARROW LIST ----- */
ul.list-arrow li {
	margin-right: 0;
	padding-left: 0;
	padding-right: 16px;
}
ul.list-arrow li:after {
	left: auto;
	right: 2px;
}
ul.list-arrow.arrow-red li:after {
	border-right-color: #AE0000;
	border-left: 0.34em solid transparent;
}
ul.list-arrow.arrow-blue li:after {
	border-right-color: #0060BF;
	border-left: 0.34em solid transparent;
}
ul.list-arrow.arrow-green li:after {
	border-right-color: #3AA655;
	border-left: 0.34em solid transparent;
}
ul.list-arrow.arrow-red li:after {
	border-left-color: #AE0000\0/;
	border-right: 0.34em solid transparent\0/;
}
ul.list-arrow.arrow-blue li:after {
	border-left-color: #0060BF\0/;
	border-right: 0.34em solid transparent\0/;
}
ul.list-arrow.arrow-green li:after {
	border-left-color: #3AA655\0/;
	border-right: 0.34em solid transparent\0/;
}
/* ----- ICON LIST ----- */
ul.list-icon li {
	padding-left: 0;
	padding-right: 20px;
}
ul.list-icon li .jsn-listbullet {
	left: auto;
	right: 0;
}
/* ----- BULLET NUMBER LIST ----- */
ul.list-number-bullet li,
ul.list-number-digit li {
	margin-right: 0;
	padding-left: 0;
	padding-right: 36px;
}
ul.list-number-bullet li span.jsn-listbullet,
ul.list-number-digit li span.jsn-listbullet {
	left: auto;
	right: 0;
}
/* ----- DIGIT NUMBER LIST ----- */
ul.list-number-digit li {
	padding-left: 0;
	padding-right: 42px;
}
ul.list-number-digit li span.jsn-listbullet {
	text-align: left;
}
/* ============================== MENU ============================== */
/* =============== MENU - MAIN MENU =============== */
/* ----- GENERAL ----- */
div.jsn-modulecontainer ul.menu-mainmenu {
	direction: rtl;
}
div.jsn-modulecontainer ul.menu-mainmenu li {
	float: right;
}
/* ----- PARENT ITEMS / ADD ARROW TO ITEMS HAVE SUBLEVEL ----- */
div.jsn-modulecontainer ul.menu-mainmenu ul li.parent > a {
	padding-right: 5px;
	padding-left: 16px;
	background-position: 2% center;
	background-image: url(../images/icons/icon-arrow-black-rtl.png);
	background-repeat: no-repeat;
}
/* =============== MENU - MAIN MENU ICONS =============== */
.menu-iconmenu li[class*="icon-"] > a > span,
.menu-iconmenu li[class*="jsn-icon-"] > a > span {
	padding-left: 0;
	padding-right: 24px;
}
/* =============== MENU - TREE MENU =============== */
/* ----- GENERAL ----- */
ul.menu-treemenu li > a > span {
	padding-left: 0;
	padding-right: 24px;
	background-position: right -340px;
}
div[class*="solid-2"] ul.menu-treemenu li > a > span {
	background: url(../images/icons/icons-base.png) right -766px no-repeat;
}
/* ----- ICON MENU STYLE ----- */
div.jsn-modulecontainer ul.menu-treemenu.menu-iconmenu > li > a {
	padding-left: 0;
	padding-right: 0;
}
/* ---------- 1st LEVEL ---------- */
div.jsn-modulecontainer ul.menu-treemenu ul li a {
	padding-left: 18px;
	padding-right: 25px;
}
div.jsn-modulecontainer ul.menu-treemenu ul ul li a {
	padding-left: 18px;
	padding-right: 40px;
}
div.jsn-modulecontainer ul.menu-treemenu ul ul ul li a {
	padding-left: 18px;
	padding-right: 55px;
}
div.jsn-modulecontainer ul.menu-treemenu ul ul ul ul li a {
	padding-left: 18px;
	padding-right: 70px;
}
div.jsn-modulecontainer ul.menu-treemenu ul ul ul ul ul li a {
	padding-left: 18px;
	padding-right: 85px;
}
/* =============== MENU - DIV MENU =============== */
ul.menu-divmenu {
	float: none;
}
ul.menu-divmenu li {
}
ul.menu-divmenu li.first {
	border-right-width: 0;
	padding-right: 0;
	padding-left: 0.8em;
}
ul.menu-divmenu li.last {
	border-right-width: 1px;
}
/* =============== MENU - SIDE MENU =============== */
/* ----- GENERAL ----- */
div.jsn-modulecontainer ul.menu-sidemenu {
	direction: ltr;
}
div.jsn-modulecontainer ul.menu-sidemenu li {
	direction: rtl;
}
div.jsn-modulecontainer ul.menu-sidemenu li:hover > ul {
	right: 0;
	right: -1px\0/;
}
ul.menu-sidemenu > li.parent > a {
	padding-right: 16px;
	background-image: url(../images/icons/icon-arrow-black-rtl.png);
	background-position: 2% center;
	background-repeat: no-repeat;
}
ul.menu-sidemenu > li > a > span {
	padding-left: 0;
	padding-right: 24px;
	background-position: right -337px;
}
/* ---------- 1st LEVEL ---------- */
div.jsn-modulecontainer ul.menu-sidemenu ul {
	z-index: 87;
}
div.jsn-modulecontainer ul.menu-sidemenu ul li a span {
	padding-right: 0;
	background: none;
}
/* ----- PARENT ITEMS / ADD ARROW TO ITEMS HAVE SUBLEVEL ----- */
/* 1st LEVEL */
div.jsn-modulecontainer ul.menu-sidemenu > li.parent > a {
	padding-left: 16px;
	padding-right: 8px;
	background: url(../images/icons/icon-arrow-black-rtl.png) 2% center no-repeat;
}
div[class*="solid-"] div.jsn-modulecontainer_inner ul.menu-sidemenu > li.parent > a {
	padding-left: 16px;
	padding-right: 8px;
	background: url(../images/icons/icon-arrow-white-rtl.png) 2% center no-repeat;
}
div.jsn-modulecontainer ul.menu-sidemenu ul li.parent > a {
	padding-right: 0;
	padding-left: 16px;
	background-image: url(../images/icons/icon-arrow-black-rtl.png);
	background-position: 2% center;
	background-repeat: no-repeat;
}
div.jsn-modulecontainer ul.menu-sidemenu ul li:hover {
	border-color:#333 !important;
}
/* 1st LEVEL BOX GREY */
div.box-grey ul.menu-sidemenu > li.parent > a {
	background-position: 0 -338px;
}
/* ----- ICON MENU STYLE ----- */
div.jsn-modulecontainer ul.menu-sidemenu.menu-iconmenu > li.parent > a {
	padding-right: 0;
}
/* ============================== MOBILE TOOLS ============================== */
#jsn-headerright #jsn-desktopswitch,
#jsn-desktopswitch,
#jsn-mobileswitch {
	float: left;
}
#jsn-desktopswitch ul li {
	float: right;
}
#jsn-desktopswitch ul li a span {
	padding-left: 0;
	padding-right: 22px;
}
#jsn-desktopswitch #jsn-mobileswitcher span {
	background-position: right -172px;
}
body.jsn-mobile #jsn-desktopswitch #jsn-desktopswitcher span {
	background-position: right -86px;
}
body.jsn-mobile #jsn-desktopswitch #jsn-menujump span {
	background-position: right 0;
}
#jsn-menu {
	float:left;
	clear:left;
}
/* ============================== SITE TOOLS ============================== */
/* =============== SITE TOOLS - GENERAL PRESENTATION =============== */
#jsn-sitetoolspanel {
	float: left;
	margin-right: 0;
	margin-left: 0;
	left:0;
	right:auto;
}
ul#jsn-sitetools-menu li ul {
	left: 0;
	right: auto;
}
/* ----- DROP DOWN ----- */
ul#jsn-sitetools-menu {
	direction: ltr;
}
/* ----- INLINE ROW ----- */
ul#jsn-sitetools-inline {
	border-left: none;
	border-right: 1px solid #000;
}
/* ============================== MODULE STYLES ============================== */
/* =============== MODULE STYLES - MODULE ICONS =============== */
div[class*="icon-"] h3.jsn-moduletitle span.jsn-moduleicon,
div[class*="jsn-icon-"] h3.jsn-moduletitle span.jsn-moduleicon {
	padding-left: 0;
	padding-right: 22px;
}
/* ============================== JOOMLA! DEFAULT EXTENSIONS ============================== */
/* =============== JOOMLA! EXTENSIONS - COM_CONTENT =============== */
/* ----- ARTICLE TOOLBAR ----- */
#article-index {
    float: left;
    margin: 0 1em 1em 0;
}
.article-info {
	float: right;
}
.jsn-article-toolbar .btn-group.pull-right {
	float: left;
}
.jsn-article-toolbar .pull-right > .dropdown-menu {
	left: 0;
	right: auto;
}
/* ----- ARTICLE INFO ----- */
.author,
.createdate,
.publishdate {
	padding-right: 20px;
	padding-left: 0;
}
.author {
	background-position: right 0;
}
.createdate,
.publishdate {
	background-position: right -86px;
}
.modifydate {
	text-align: left;
}
/* ----- 3 BUTTON PDF, PRINT, EMAIL CONTAINER ----- */
ul.jsn-article-tools {
	float: left;
}
ul.jsn-article-tools li {
	margin-left: 0;
	margin-right: 10px;
}
/* ----- TABLE OF CONTENT ----- */
table.contenttoc {
	margin-left: 0;
	margin-right: 1em;
	float: left;
}
/* ----- CATEGORY LIST LAYOUT ----- */
/* TABLE FILTER */
.jsn-infofilter {
	text-align: left;
}
.jsn-titlefilter {
	float: right;
}
.archived-article-list .jsn-infofilter {
	text-align: right;
}
/* =============== JOOMLA! EXTENSIONS - COM_SEARCH =============== */
div.com-search #searchForm .search-phrase {
	margin-left: 0;
	margin-right: 95px;
}
div.com-search #searchForm .search-range input,
div.com-search #searchForm .search-phrase input {
	margin-left: 0;
	margin-right: 5px;
}
div.com-search #searchForm .search-range label,
div.com-search #searchForm .search-phrase label,
div.com-search #searchForm .search-keyword label,
div.com-search #searchForm .search-ordering label,
div.com-search #searchForm .search-field-title {
	text-align: right;
	padding-right: 0;
	padding-left: 3px;
}
/* =============== JOOMLA! EXTENSIONS - COM_USER =============== */
div.reset .jsn-formRow-lable,
div.com-user .jsn-formRow-lable,
div.com-user #com-form-login label {
	float: right;
}
/* =============== JOOMLA! EXTENSIONS - COM_CONTACT =============== */
div.com-contact .jsn-contact-image {
	float: left;
	margin: 10px 0 0 5px;
}
div.com-contact .jicons-icons {
	float: right;
	margin-left: 5px;
}
/* =============== JOOMLA! EXTENSIONS - SYSTEM MESSAGES =============== */
/* ----- SYSTEM STANDARD MESSAGES ----- */
#system-message dd.message ul {
	padding-left: 0;
	padding-right: 40px;
	background-position: 98% center;
}
#system-message ul li {
	margin-right: 0;
}
/* ----- SYSTEM ERROR MESSAGES ----- */
#system-message dd.error ul {
	background-position: 98% center;
}
/* ----- SYSTEM NOTICE MESSAGES ----- */
#system-message dd.notice ul {
	background-position: 98% center;
}
/* =============== JOOMLA! EXTENSIONS - COM_USER =============== */
/* ----- REGISTER FORM ----- */
.registration .form-horizontal .control-label {
	text-align: right;
	float: right;
}
form#login-form .icon-arrow-right {
	background-position: -433px -72px;
	float: none;
}
/* =============== JOOMLA! EXTENSIONS - MOD_BREADCRUMB =============== */
span.breadcrumbs a,
span.breadcrumbs span {
	float: right;
	padding-right: 0;
	padding-left: 18px;
	background: url(../images/icons/icon-arrow-black-rtl.png) left center no-repeat;
	margin-left:10px;
	margin-right:0;
}
.breadcrumb li.active:first-child span.divider {
	padding: 0 0 0 5px;
}
/* =============== JOOMLA! EXTENSIONS - MODULE SEARCH =============== */
#jsn-pos-top div.search {
	float: left;
}
#jsn-pos-top div.search input#mod_search_searchword {
	padding-left: 0;
	padding-right: 25px;
	background-position: 98% -170px;
}
/* =============== JOOMLA! EXTENSIONS - MOD_STATISTICS =============== */
dl.stats-module dt {
    float: right;
}
/* ============================== MISC ============================== */
/* =============== GENERAL ICON ASSIGNMENT =============== */
.link-icon.jsn-icon-article,
.menu-iconmenu .jsn-icon-article > a > span,
.list-icon.jsn-icon-article li .jsn-listbullet,
.jsn-icon-article h3.jsn-moduletitle span.jsn-moduleicon {
	background-position: right 3px !important;
}
.link-icon.jsn-icon-calendar,
.menu-iconmenu .jsn-icon-calendar > a > span,
.list-icon.jsn-icon-calendar li .jsn-listbullet,
.jsn-icon-calendar h3.jsn-moduletitle span.jsn-moduleicon {
	background-position: right -79px !important;
}
.link-icon.jsn-icon-cart,
.menu-iconmenu .jsn-icon-cart > a > span,
.list-icon.jsn-icon-cart li .jsn-listbullet,
.jsn-icon-cart h3.jsn-moduletitle span.jsn-moduleicon {
	background-position: right -166px !important;
}
.link-icon.jsn-icon-comment,
.menu-iconmenu .jsn-icon-comment > a > span,
.list-icon.jsn-icon-comment li .jsn-listbullet,
.jsn-icon-comment h3.jsn-moduletitle span.jsn-moduleicon {
	background-position: right -252px !important;
}
.link-icon.jsn-icon-display,
.menu-iconmenu .jsn-icon-display > a > span,
.list-icon.jsn-icon-display li .jsn-listbullet,
.jsn-icon-display h3.jsn-moduletitle span.jsn-moduleicon {
	background-position: right -338px !important;
}
.link-icon.jsn-icon-download,
.menu-iconmenu .jsn-icon-download > a > span,
.list-icon.jsn-icon-download li .jsn-listbullet,
.jsn-icon-download h3.jsn-moduletitle span.jsn-moduleicon {
	background-position: right -423px !important;
}
.link-icon.jsn-icon-folder,
.menu-iconmenu .jsn-icon-folder > a > span,
.list-icon.jsn-icon-folder li .jsn-listbullet,
.jsn-icon-folder h3.jsn-moduletitle span.jsn-moduleicon {
	background-position: right -510px !important;
}
.link-icon.jsn-icon-help,
.menu-iconmenu .jsn-icon-help > a > span,
.list-icon.jsn-icon-help li .jsn-listbullet,
.jsn-icon-help h3.jsn-moduletitle span.jsn-moduleicon {
	background-position: right -595px !important;
}
.link-icon.jsn-icon-home,
.menu-iconmenu .jsn-icon-home > a > span,
.list-icon.jsn-icon-home li .jsn-listbullet,
.jsn-icon-home h3.jsn-moduletitle span.jsn-moduleicon {
	background-position: right -682px !important;
}
.link-icon.jsn-icon-image,
.menu-iconmenu .jsn-icon-image > a > span,
.list-icon.jsn-icon-image li .jsn-listbullet,
.jsn-icon-image h3.jsn-moduletitle span.jsn-moduleicon {
	background-position: right -766px !important;
}
.link-icon.jsn-icon-info,
.menu-iconmenu .jsn-icon-info > a > span,
.list-icon.jsn-icon-info li .jsn-listbullet,
.jsn-icon-info h3.jsn-moduletitle span.jsn-moduleicon {
	background-position: right -853px !important;
}
.link-icon.jsn-icon-mail,
.menu-iconmenu .jsn-icon-mail > a > span,
.list-icon.jsn-icon-mail li .jsn-listbullet,
.jsn-icon-mail h3.jsn-moduletitle span.jsn-moduleicon {
	background-position: right -938px !important;
}
.link-icon.jsn-icon-online,
.menu-iconmenu .jsn-icon-online > a > span,
.list-icon.jsn-icon-online li .jsn-listbullet,
.jsn-icon-online h3.jsn-moduletitle span.jsn-moduleicon {
	background-position: right -1024px !important;
}
.link-icon.jsn-icon-rss,
.menu-iconmenu .jsn-icon-rss > a > span,
.list-icon.jsn-icon-rss li .jsn-listbullet,
.jsn-icon-rss h3.jsn-moduletitle span.jsn-moduleicon {
	background-position: right -1110px !important;
}
.link-icon.jsn-icon-search,
.menu-iconmenu .jsn-icon-search > a > span,
.list-icon.jsn-icon-search li .jsn-listbullet,
.jsn-icon-search h3.jsn-moduletitle span.jsn-moduleicon {
	background-position: right -1200px !important;
}
.link-icon.jsn-icon-selection,
.menu-iconmenu .jsn-icon-selection > a > span,
.list-icon.jsn-icon-selection li .jsn-listbullet,
.jsn-icon-selection h3.jsn-moduletitle span.jsn-moduleicon {
	background-position: right -1283px !important;
}
.link-icon.jsn-icon-settings,
.menu-iconmenu .jsn-icon-settings > a > span,
.list-icon.jsn-icon-settings li .jsn-listbullet,
.jsn-icon-settings h3.jsn-moduletitle span.jsn-moduleicon {
	background-position: right -1370px !important;
}
.link-icon.jsn-icon-star,
.menu-iconmenu .jsn-icon-star > a > span,
.list-icon.jsn-icon-star li .jsn-listbullet,
.jsn-icon-star h3.jsn-moduletitle span.jsn-moduleicon {
	background-position: right -1454px !important;
}
.link-icon.jsn-icon-statistics,
.menu-iconmenu .jsn-icon-statistics > a > span,
.list-icon.jsn-icon-statistics li .jsn-listbullet,
.jsn-icon-statistics h3.jsn-moduletitle span.jsn-moduleicon {
	background-position: right -1539px !important;
}
.link-icon.jsn-icon-user,
.menu-iconmenu .jsn-icon-user > a > span,
.list-icon.jsn-icon-user li .jsn-listbullet,
.jsn-icon-user h3.jsn-moduletitle span.jsn-moduleicon {
	background-position: right -1627px !important;
}
/* ---------- OVERRIDE ----------- */
.form-search .radio input[type="radio"],
.form-search .checkbox input[type="checkbox"],
.form-inline .radio input[type="radio"],
.form-inline .checkbox input[type="checkbox"] {
	float: right;
	margin-left: 3px;
	margin-right: auto;
}
.nav-tabs > li,
.nav-pills > li {
	float: none;
}