form fieldset label {
	clear: none;
	float: none;
	margin: 0 0 5px 0;
}

.jsn-bootstrap .alert .label-important {
	display: inline-block;
	margin: 5px 0;
}

.jsn-actions {
	text-align: center;
}

.jsn-bootstrap .form-horizontal .control-label,
.control-group .control-label {
	width: 200px;
	text-align: right;
	padding-right: 20px;
}

.jsn-bootstrap .form-horizontal .controls,
.control-group .controls {
	margin-left: 220px;
}

.jsn-sortable-list,
.jsn-color-list {
	width: 210px;
	background: #fff;
	border: 1px solid #CCC;
	padding: 0 5px;

	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;

	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
.jsn-sortable-list ul {
	margin: 0;
}
.jsn-sortable-list label {
	cursor: move;
}
.jsn-master .jsn-sortable-list .ui-sortable .ui-state-highlight {
	margin: 5px 0;
	padding: 5px;
}

#menu-links ul {
	list-style: none;
	margin: 0;
}

#menu-links hr {
	margin: 5px 0;
}

label.menu-type {
	font-weight: bold;
	font-size: 15px;
	color: #555;
	line-height: 22px;
}

#menu-links .box {
	border: 1px solid #ccc;
	background: #fff;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
	padding: 10px;
	margin-bottom: 20px;
	border-radius: 3px;
}

/*.jsn-product-intro,
.jsn-product-cta {
	border: 1px solid #ccc;
	border-radius: 5px;
}

.jsn-product-intro {
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}

.jsn-product-cta {
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	border-top-width: 1px;
	border-top-color: #ddd;
	background: #E9E9E9;
	padding: 15px;
}
*/
/*.jsn-template-thumbnail {
	width: 206px;
	padding: 10px;
	vertical-align: top;
}

.jsn-template-details {
	vertical-align: top;
}

div.jsn-template-details {
	position: relative;
}

.jsn-template-details dt,
.jsn-template-details dd {
	display: block;
	float: left;
	padding: 3px;
	margin: 0;
}

.jsn-template-details dt {
	clear: left;
	width: 80px;
	padding-right: 10px;
}

.jsn-template-details h2 {
	margin-bottom: 0px;
}

.jsn-template-details hr {
	margin: 5px 0;
}*/

/*.jsn-see-more-products {
	float: left;
	clear: left;
}*/

/*.jsn-follow-links {
	float: right;
	clear: right;
	width: 150px;
	text-align: right;
}
.jsn-follow-links a {
	padding-left: 10px;
}*/

/*#jsn-product-intro .jsn-upgrade-link.btn {
	position: absolute;
	top: 3px;
	right: 10px;
}

.jsn-upgrade-link.btn .jsn-icon-proversion {
	padding-left: 35px;
	background: url(../images/icons-16/icon-16-pro.png) no-repeat left center;
}*/

#jsn-template-toolbar label {
	display: inline-block;
	width: auto;
	padding-right: 10px;
}

#jsn-template-toolbar input,
#jsn-template-toolbar select {
	margin-bottom: 3px;
	margin-right: 50px;
}

#jsn-template-config.jsn-joomla2 {
	background: #fff;
	border: 1px solid #ccc;
	border-radius: 3px;
	padding: 15px;
}
#jsn-template-config.jsn-joomla3 {
	margin: 20px -15px;
	padding: 0 15px;
}

#jsn-template-config-tabs.ui-tabs {
	padding: 0;
}

#jsn-template-config.jsn-joomla2 ul#jsn-main-nav {
	margin: 20px -15px;
	padding: 0 15px;
}
#jsn-template-config.jsn-joomla2 ul#jsn-main-nav li {
	margin: 0;
}
#jsn-template-config.jsn-joomla2 ul#jsn-main-nav li.active a {
	font-weight: bold;
	color: #333;
}
#jsn-template-config.jsn-joomla2 .ui-tabs-panel {
	margin: 0 -15px;
	border: 0;
	padding: 0 15px;
}

#jsn-template-config.jsn-joomla3 ul#jsn-main-nav {
	margin: 20px 0 0;
	padding: 0 20px;
}
#jsn-template-config.jsn-joomla3 ul#jsn-main-nav li {
	margin: 0;
	margin-bottom: -1px;
}
#jsn-template-config.jsn-joomla3  #jsn-template-toolbar {
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
}
#jsn-template-config.jsn-joomla3 .tab-content {
	padding: 0 20px;
}

div.jsn-see-more-window #jsn-see-more-products {
	padding: 0;
	margin: 0;
}

.jsn-version-checking .jsn-update-link,
.jsn-version-latest .jsn-update-link,
.jsn-version-error .jsn-update-link {
	display: none;
}
.jsn-version-checking .jsn-status {
	color: #666;
}
.jsn-version-latest .jsn-status {
	color: #090;
}
.jsn-version-error .jsn-status,
.jsn-version-outdated .jsn-status {
	color: #BF0000;
}

.jsn-toolbar {
	text-align: center;
	margin: 15px 0;
	padding: 10px;
}

.disabled {
	color: #555;
}

/**
 * Sample-data installation dialog
 */
#jsn-list-extensions label {
	display: inline-block;
	padding-right: 10px;
	white-space: nowrap;
}

#jsn-list-extensions .jsn-exttension-desc a.jsn-read-more {
	color: #0088cc;
	padding-left: 3px;
}

#jsn-list-extensions .jsn-exttension-desc a.jsn-read-more:hover {
	text-decoration: none;
	color: #F89406;
}

.jsn-processing label.checkbox {
	padding-left: 0;
}

.jsn-processing input,
.jsn-processing .jsn-extension-details,
.jsn-processing span.label {
	display: none;
}

/**
 * Icon status
 */
i.jsn-icon-status {
	display: none;
	width: 16px;
	height: 16px;
	background-image: url(../images/icons-16/icons-16-uni.png) !important;
}

li.jsn-loading > .jsn-title > i.jsn-icon-status {
	background: url(../images/icons-16/icon-16-loading-circle.gif) no-repeat right center !important;
}

li.jsn-success > .jsn-title > i.jsn-icon-status {
	background-position: -32px -64px !important;
}

li.jsn-error > .jsn-title > i.jsn-icon-status {
	background-position: -16px -64px !important;
}

li.jsn-loading > .jsn-title > i.jsn-icon-status,
li.jsn-success > .jsn-title > i.jsn-icon-status,
li.jsn-error > .jsn-title > i.jsn-icon-status {
	display: inline-block;
}

li.jsn-success > label,
li.jsn-success > span.jsn-title {
	text-decoration: line-through;
	color: #999;
}

li.jsn-error > span.jsn-status {
	display: block;
	color: #B94A48 !important;
	background-color: #F2DEDE;
	border-color: #EED3D7 !important;
	margin-bottom: 5px;
}

li.jsn-skipped > label.jsn-extension-label {
	text-decoration: line-through;
	color: #999;
}

li.jsn-error > span.jsn-title,
li.jsn-error > label.jsn-extension-label,
li.jsn-failed > label.jsn-extension-label {
	text-decoration: line-through;
	color: #999;
}

div.jsn-sample-data.jsn-loading,
div.ui-dialog-content.jsn-loading {
	background: url(../images/icons-32/icon-32-loading-circle.gif) no-repeat center center;
}

/**
 * Template upgrade
 */
.ui-widget-content a#btn-start-upgrade {
	color: #fff;
}
#jsn-success-message h3,
#jsn-upgrade-success h3 {
	font-weight: bold;
	color: #009F28;
}

#jsn-attention,
#jsn-attention h4 {
	color: #b94a48;
}
#jsn-attention h4 {
	font-weight: bold;
}


/**
 * Files Integrity
 */
#jsn-integrity-details-files {
	list-style: none;
	margin: 0;
}
#jsn-integrity-details-files .jsn-file-edited {
	color: #D2691E;
}
#jsn-integrity-details-files .jsn-file-deleted {
	opacity: 0.5;
}

/**
 * Media selector
 */
.jsn-image-list.thumbnails {
	margin: 0 0 0 0;
}

.jsn-image-list.thumbnails .thumbnail {
	display: inline-block;
	width: 80px;
	height: 80px;
	margin-left: 10px;
	margin-bottom: 10px;
	vertical-align: middle;
}

.jsn-image-list.thumbnails .thumbnail .jsn-image-thumb {
	display: block;
	overflow: hidden;
	width: 80px;
	height: 80px;
	text-align: center;
}

.jsn-image-list.thumbnails .thumbnail.active {
	border-color: #FF6600;
	background: #FFF3E0;
}

.jsn-image-list.thumbnails .thumbnail.active img {
	opacity: 0.5;
}

.ui-dialog .jsn-image-selector.ui-dialog-content {
	padding: 0;
}

.ui-dialog .jsn-image-folders .jsn-folder-tree {
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
	bottom: 8px;
}

.ui-dialog .jsn-image-folders .dynatree-container {
	padding: 8px;
	font-family: Arial, Helvetica, sans-serif;
}

.ui-dialog .jsn-image-folders span.dynatree-folder a {
	font-weight: normal;
}

.ui-dialog .jsn-image-grid .jsn-image-upload {
	position: absolute;
	left: 0px;
	right: 0px;
	bottom: 0px;
	padding: 8px;
	border-top: 1px solid #eee;
	background: #fefefe;
	margin: 0 !important;
}

.ui-dialog .jsn-image-files {
	padding-top: 12px;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 45px;
	overflow-y: auto;
}

.ui-dialog .jsn-image-folders .jsn-folder-tree ul.dynatree-container {
	border: 0px;
	background: transparent;
}

.ui-dialog .jsn-image-selector .ui-layout-resizer {
	background: #f5f5f5;
}

.ui-dialog .jsn-image-selector .ui-layout-resizer-hover {
	background: #C4E1A4;
}

.ui-dialog .jsn-image-selector .ui-layout-toggler {
	background: #BBB;
}

.ui-dialog .jsn-image-selector .ui-layout-toggler-hover {
	background: #FC6;
}

.ui-dialog .jsn-image-selector {
	margin-bottom: -6px;
}

.ui-dialog .jsn-image-selector .jsn-file-field {
	display: inline-block;
	margin: 0;
}
.ui-dialog .jsn-image-selector .jsn-file-field .jsn-file-upload {
	outline: none;
	height: 30px;
	width: 300px;
	position: absolute;
	top: 0;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	-moz-opacity: 0;
	-khtml-opacity: 0;
	opacity: 0;
	cursor: pointer;
	font-size: 19px;
	z-index: inherit;
	right: 0;
}
.ui-dialog .jsn-image-selector .jsn-file-field .jsn-media-input-wrapper {
	display: inline-block;
	position: relative;
	overflow: hidden;
	float: left;
	cursor: pointer;
}
.ui-dialog .jsn-image-selector .jsn-file-field .jsn-text {
	display: inline-block;
	height: 20px;
	padding: 4px 6px;
	margin-bottom: 0px;
	font-size: 14px;
	line-height: 20px;
	color: #555555;
	vertical-align: middle;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px 0 0 4px;
	background-color: #ffffff;
	border: 1px solid #cccccc;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	-webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
	-moz-transition: border linear 0.2s, box-shadow linear 0.2s;
	-o-transition: border linear 0.2s, box-shadow linear 0.2s;
	transition: border linear 0.2s, box-shadow linear 0.2s;
	width: 250px;
	float: left;
}
.ui-dialog .jsn-image-selector .jsn-file-field .btn {
	display: inline-block;
	padding: 4px 12px;
	margin-bottom: 0;
	margin-top: 0;
	font-size: 14px;
	line-height: 20px;
	color: #333333;
	text-align: center;
	text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
	vertical-align: middle;
	cursor: pointer;
	background-color: #f5f5f5;
	background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
	background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
	background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
	background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
	background-repeat: repeat-x;
	border: 1px solid #bbbbbb;
	border-color: #e6e6e6 #e6e6e6 #bfbfbf;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	border-bottom-color: #a2a2a2;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
	-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}
.ui-dialog .jsn-image-selector .jsn-file-field .btn:hover {
	color: #333333;
	text-decoration: none;
	background-position: 0 -15px;
	-webkit-transition: background-position 0.1s linear;
	-moz-transition: background-position 0.1s linear;
	-o-transition: background-position 0.1s linear;
	transition: background-position 0.1s linear;
	background-color: #e6e6e6;
}
.ui-dialog .jsn-image-selector .jsn-file-field .btn-browse {
	border-radius: 0 4px 4px 0;
	margin-left: -1px;
}
.ui-dialog .jsn-image-selector .jsn-file-field .btn-upload {
	margin-left: 5px;
	border-radius: 4px;
}

#jsn-media-upload-iframe {
	display: none;
}

.jsn-image-upload .jsn-loading {
	background: url(../images/icons-16/icon-16-loading-circle.gif) no-repeat left center;
	padding-left: 20px;
}

/**
 * Override template CSS
 */
.jsn-joomla3 .tip-wrap {
	text-align: left !important;
	max-width: 500px !important;
}
.jsn-joomla3 .tip-wrap .tip {
	padding: 10px 5px;
}
.jsn-joomla3 .tip-wrap .tip-title {
	font-weight: bold;
	margin-bottom: 5px;
}
.jsn-joomla3 .tip-wrap .tip-text {
	color: #999;
}
.jsn-joomla3 .tip-wrap hr {
	margin: 5px 0 20px 0;
	border-top: 0px;
	border-bottom: 1px solid #555;
}

/**
 * Pro icon for tabs
 */


#jsn-main-nav li .label-pro {
	font-size: 11px;
	margin-left: 5px;
}
.jsn-pro-edition #jsn-main-nav li .label-pro {
	display: none;
}

/**
 * Input fields
 */
.input-append.jsn-media-input input.input-xxlarge {
	width: 411px;
}

.jsn-master .jsn-items-list.ui-sortable {
	height: auto;
	overflow: visible;
	list-style: none;
}

.jsn-bootstrap .input-append .add-on.btn,
.jsn-bootstrap .input-prepend .add-on.btn {
	padding: 4px 14px;
}

#jsn-template-config.jsn-master .jsn-template-details h2 {
	line-height: 40px;
}

/*#jsn-template-help {
	width: 600px;
	margin: 30px auto 50px;
}*/

#jsn-quickstart-login div.form-inline {
	text-align: center;
}

p.jsn-getting-start-seperator {
	font-size: 20px;
	font-style: italic;
	color: #666;
	text-align: center;
	font-family: Georgia;
	padding: 15px 0 20px;
	margin: 0;
}

#jsn-getting-start-container,
#jsn-backup-file {
	width: 1100px;
	margin: 0px auto 0px;
}
/*#jsn-backup-file div.alert {
	padding: 15px;
}
#jsn-backup-file div.alert p:last-child {
	margin-bottom: 0;
}
#jsn-backup-file a.btn {
	margin-left: 50px;
}*/

#jsn-sample-data,
#jsn-check-document {
	margin-top: 0;
}

#jsn-sample-data a.btn,
#jsn-check-document a.btn {
	text-align: left;
	padding-bottom: 10px;
}

#jsn-sample-data a.btn h4,
#jsn-check-document a.btn h4 {
	font-weight: bold;
	color: #555;
	margin-bottom: 5px;
}

.jsn-joomla3 #jsn-check-document {
	margin-left: 30px;
}

#getting-started a.btn h4 {
	color: #fff;
}
#getting-started .jsn-page-about {
	width: auto;
	margin: 0;
}
#getting-started .jsn-page-about .jsn-product-thumbnail {
	margin-bottom: 20px;
	float: none;
	width: auto;
}
#getting-started .jsn-page-about .jsn-product-thumbnail a {
	display: block;
	margin: 0 auto;
	width: 320px;
}
#getting-started .jsn-page-about .jsn-product-details {
	float: none;
	width: auto;
}
#getting-started h3 {
	font-weight: bold;
}
#jsn-manual-install .jsn-sample-package {
	height: auto !important;
	margin-bottom: 0 !important;
}

div.jsn-framework-version {
	padding-bottom: 8px;
}

.jsn-master .ui-dialog .ui-dialog-content {
	padding: .5em 1em;
}

#jsn-main-nav li.active {
	font-size: 1.1em;
}
#jsn-main-nav i[class^='icon-'] {
	font-size: 14px;
	margin-right: 5px;
}

.jsn-bootstrap .tab-content {
	overflow: visible;
}

/* Template outdated notice */
.jsn-bootstrap #jsn-version-info .jsn-template-version .alert {
	margin-top: 15px;
	margin-bottom: 0;
}
.jsn-bootstrap #jsn-version-info .jsn-version-outdated .alert {
	display: block;
}

/* Standard Font Family Selector */
.jsn-list-standard-font-family li {
	font-size: 125%;
}
.jsn-list-standard-font-family li.highlighted {
	background-color: #eee !important;
}
.jsn-list-standard-font-family li.jsn-list-item-standard-font-family-verdana {
	font-family: Verdana, Geneva, sans-serif;
}
.jsn-list-standard-font-family li.jsn-list-item-standard-font-family-georgia {
	font-family: Georgia, 'Times New Roman', Times, serif;
}
.jsn-list-standard-font-family li.jsn-list-item-standard-font-family-times-new-roman {
	font-family: 'Times New Roman', Times, serif;
}
.jsn-list-standard-font-family li.jsn-list-item-standard-font-family-courier-new {
	font-family: 'Courier New', Courier, monospace;
}
.jsn-list-standard-font-family li.jsn-list-item-standard-font-family-arial {
	font-family: Arial, Helvetica, sans-serif;
}
.jsn-list-standard-font-family li.jsn-list-item-standard-font-family-tahoma {
	font-family: Tahoma, Geneva, sans-serif;
}
.jsn-list-standard-font-family li.jsn-list-item-standard-font-family-trebuchet-ms {
	font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif;
}
.jsn-list-standard-font-family li.jsn-list-item-standard-font-family-palatino-linotype {
	font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, serif;
}
.jsn-list-standard-font-family li.jsn-list-item-standard-font-family-lucida-sans-unicode {
	font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
}
.jsn-list-standard-font-family li.jsn-list-item-standard-font-family-lucida-console {
	font-family: 'Lucida Console', Monaco, monospace;
}

/* Google Font Face Selector */
.jsn-list-google-font-face li {
	display: block;
	width: 217px;
	height: 20px;
	background-image: url(../images/backgrounds/google-fonts.png) !important;
	background-repeat: no-repeat !important;
	text-indent: -9999px;
}
.jsn-list-google-font-face li.highlighted {
	background-color: #eee !important;
}
.jsn-list-google-font-face li.jsn-list-item-google-font-face-none {
	background-position: 0 -35px;
}
.jsn-list-google-font-face li.jsn-list-item-google-font-face-open-sans {
	background-position: 0 -97px;
}
.jsn-list-google-font-face li.jsn-list-item-google-font-face-oswald {
	background-position: 0 -163px;
}
.jsn-list-google-font-face li.jsn-list-item-google-font-face-droid-sans {
	background-position: 0 -224px;
}
.jsn-list-google-font-face li.jsn-list-item-google-font-face-lato {
	background-position: 0 -284px;
}
.jsn-list-google-font-face li.jsn-list-item-google-font-face-open-sans-condensed {
	background-position: 0 -343px;
}
.jsn-list-google-font-face li.jsn-list-item-google-font-face-pt-sans {
	background-position: 0 -401px;
}
.jsn-list-google-font-face li.jsn-list-item-google-font-face-ubuntu {
	background-position: 0 -460px;
}
.jsn-list-google-font-face li.jsn-list-item-google-font-face-pt-sans-narrow {
	background-position: 0 -520px;
}
.jsn-list-google-font-face li.jsn-list-item-google-font-face-yanone-kaffeesatz {
	background-position: 0 -579px;
}
.jsn-list-google-font-face li.jsn-list-item-google-font-face-roboto-condensed {
	background-position: 0 -638px;
}
.jsn-list-google-font-face li.jsn-list-item-google-font-face-source-sans-pro {
	background-position: 0 -697px;
}
.jsn-list-google-font-face li.jsn-list-item-google-font-face-nunito {
	background-position: 0 -755px;
}
.jsn-list-google-font-face li.jsn-list-item-google-font-face-francois-one {
	background-position: 0 -814px;
}
.jsn-list-google-font-face li.jsn-list-item-google-font-face-roboto {
	background-position: 0 -874px;
}
.jsn-list-google-font-face li.jsn-list-item-google-font-face-raleway {
	background-position: 0 -933px;
}
.jsn-list-google-font-face li.jsn-list-item-google-font-face-arimo {
	background-position: 0 -992px;
}
.jsn-list-google-font-face li.jsn-list-item-google-font-face-cuprum {
	background-position: 0 -1051px;
}
.jsn-list-google-font-face li.jsn-list-item-google-font-face-play {
	background-position: 0 -1109px;
}
.jsn-list-google-font-face li.jsn-list-item-google-font-face-dosis {
	background-position: 0 -1169px;
}
.jsn-list-google-font-face li.jsn-list-item-google-font-face-abel {
	background-position: 0 -1229px;
}
.jsn-list-google-font-face li.jsn-list-item-google-font-face-droid-serif {
	background-position: 0 -1287px;
}
.jsn-list-google-font-face li.jsn-list-item-google-font-face-arvo {
	background-position: 0 -1347px;
}
.jsn-list-google-font-face li.jsn-list-item-google-font-face-lora {
	background-position: 0 -1406px;
}
.jsn-list-google-font-face li.jsn-list-item-google-font-face-rokkitt {
	background-position: 0 -1464px;
}
.jsn-list-google-font-face li.jsn-list-item-google-font-face-pt-serif {
	background-position: 0 -1520px;
}
.jsn-list-google-font-face li.jsn-list-item-google-font-face-bitter {
	background-position: 0 -1580px;
}
.jsn-list-google-font-face li.jsn-list-item-google-font-face-merriweather {
	background-position: 0 -1640px;
}
.jsn-list-google-font-face li.jsn-list-item-google-font-face-vollkorn {
	background-position: 0 -1698px;
}
.jsn-list-google-font-face li.jsn-list-item-google-font-face-cantata-one {
	background-position: 0 -1757px;
}
.jsn-list-google-font-face li.jsn-list-item-google-font-face-kreon {
	background-position: 0 -1817px;
}
.jsn-list-google-font-face li.jsn-list-item-google-font-face-josefin-slab {
	background-position: 0 -1876px;
}
.jsn-list-google-font-face li.jsn-list-item-google-font-face-playfair-display {
	background-position: 0 -1938px;
}
.jsn-list-google-font-face li.jsn-list-item-google-font-face-bree-serif {
	background-position: 0 -1996px;
}
.jsn-list-google-font-face li.jsn-list-item-google-font-face-crimson-text {
	background-position: 0 -2055px;
}
.jsn-list-google-font-face li.jsn-list-item-google-font-face-old-standard-tt {
	background-position: 0 -2113px;
}
.jsn-list-google-font-face li.jsn-list-item-google-font-face-sanchez {
	background-position: 0 -2173px;
}
.jsn-list-google-font-face li.jsn-list-item-google-font-face-crete-round {
	background-position: 0 -2232px;
}
.jsn-list-google-font-face li.jsn-list-item-google-font-face-cardo {
	background-position: 0 -2290px;
}
.jsn-list-google-font-face li.jsn-list-item-google-font-face-noticia-text {
	background-position: 0 -2348px;
}
.jsn-list-google-font-face li.jsn-list-item-google-font-face-judson {
	background-position: 0 -2406px;
}
.jsn-list-google-font-face li.jsn-list-item-google-font-face-lobster {
	background-position: 0 -2465px;
}
.jsn-list-google-font-face li.jsn-list-item-google-font-face-unkempt {
	background-position: 0 -2529px;
}
.jsn-list-google-font-face li.jsn-list-item-google-font-face-changa-one {
	background-position: 0 -2589px;
}
.jsn-list-google-font-face li.jsn-list-item-google-font-face-special-elite {
	background-position: 0 -2646px;
}
.jsn-list-google-font-face li.jsn-list-item-google-font-face-chewy {
	background-position: 0 -2706px;
}
.jsn-list-google-font-face li.jsn-list-item-google-font-face-comfortaa {
	background-position: 0 -2767px;
}
.jsn-list-google-font-face li.jsn-list-item-google-font-face-boogaloo {
	background-position: 0 -2827px;
}
.jsn-list-google-font-face li.jsn-list-item-google-font-face-fredoka-one {
	background-position: 0 -2887px;
}
.jsn-list-google-font-face li.jsn-list-item-google-font-face-luckiest-guy {
	background-position: 0 -2945px;
}
.jsn-list-google-font-face li.jsn-list-item-google-font-face-cherry-cream-soda {
	background-position: 0 -3003px;
}
.jsn-list-google-font-face li.jsn-list-item-google-font-face-lobster-two {
	background-position: 0 -3060px;
}
.jsn-list-google-font-face li.jsn-list-item-google-font-face-righteous {
	background-position: 0 -3124px;
}
.jsn-list-google-font-face li.jsn-list-item-google-font-face-squada-one {
	background-position: 0 -3183px;
}
.jsn-list-google-font-face li.jsn-list-item-google-font-face-black-ops-one {
	background-position: 0 -3240px;
}
.jsn-list-google-font-face li.jsn-list-item-google-font-face-happy-monkey {
	background-position: 0 -3299px;
}
.jsn-list-google-font-face li.jsn-list-item-google-font-face-passion-one {
	background-position: 0 -3357px;
}
.jsn-list-google-font-face li.jsn-list-item-google-font-face-nova-square {
	background-position: 0 -3415px;
}
.jsn-list-google-font-face li.jsn-list-item-google-font-face-metamorphous {
	background-position: 0 -3476px;
}
.jsn-list-google-font-face li.jsn-list-item-google-font-face-poiret-one {
	background-position: 0 -3535px;
}
.jsn-list-google-font-face li.jsn-list-item-google-font-face-bevan {
	background-position: 0 -3596px;
}
.jsn-list-google-font-face li.jsn-list-item-google-font-face-shadows-into-light {
	background-position: 0 -3655px;
}
.jsn-list-google-font-face li.jsn-list-item-google-font-face-the-girl-next-door {
	background-position: 0 -3714px;
}
.jsn-list-google-font-face li.jsn-list-item-google-font-face-coming-soon {
	background-position: 0 -3774px;
}
.jsn-list-google-font-face li.jsn-list-item-google-font-face-dancing-script {
	background-position: 0 -3833px;
}
.jsn-list-google-font-face li.jsn-list-item-google-font-face-pacifico {
	background-position: 0 -3896px;
}
.jsn-list-google-font-face li.jsn-list-item-google-font-face-crafty-girls {
	background-position: 0 -3959px;
}
.jsn-list-google-font-face li.jsn-list-item-google-font-face-calligraffitti {
	background-position: 0 -4020px;
}
.jsn-list-google-font-face li.jsn-list-item-google-font-face-rock-salt {
	background-position: 0 -4082px;
}
.jsn-list-google-font-face li.jsn-list-item-google-font-face-amatic-sc {
	background-position: 0 -4151px;
}
.jsn-list-google-font-face li.jsn-list-item-google-font-face-leckerli-one {
	background-position: 0 -4211px;
}
.jsn-list-google-font-face li.jsn-list-item-google-font-face-tangerine {
	background-position: 0 -4270px;
}
.jsn-list-google-font-face li.jsn-list-item-google-font-face-reenie-beanie {
	background-position: 0 -4327px;
}
.jsn-list-google-font-face li.jsn-list-item-google-font-face-satisfy {
	background-position: 0 -4388px;
}
.jsn-list-google-font-face li.jsn-list-item-google-font-face-gloria-hallelujah {
	background-position: 0 -4450px;
}
.jsn-list-google-font-face li.jsn-list-item-google-font-face-permanent-marker {
	background-position: 0 -4508px;
}
.jsn-list-google-font-face li.jsn-list-item-google-font-face-covered-by-your-grace {
	background-position: 0 -4564px;
}
.jsn-list-google-font-face li.jsn-list-item-google-font-face-walter-turncoat {
	background-position: 0 -4623px;
}
.jsn-list-google-font-face li.jsn-list-item-google-font-face-patrick-hand {
	background-position: 0 -4680px;
}
.jsn-list-google-font-face li.jsn-list-item-google-font-face-schoolbell {
	background-position: 0 -4739px;
}
.jsn-list-google-font-face li.jsn-list-item-google-font-face-indie-flower {
	background-position: 0 -4796px;
}
.jsn-list-google-font-face li.jsn-list-item-google-font-face-verdana {
	background-position: 0 -4856px;
}
.jsn-list-google-font-face li.jsn-list-item-google-font-face-georgia {
	background-position: 0 -4917px;
}
.jsn-list-google-font-face li.jsn-list-item-google-font-face-courier-new {
	background-position: 0 -4978px;
}
.jsn-list-google-font-face li.jsn-list-item-google-font-face-arial {
	background-position: 0 -5038px;
}
.jsn-list-google-font-face li.jsn-list-item-google-font-face-tahoma {
	background-position: 0 -5102px;
}
.jsn-list-google-font-face li.jsn-list-item-google-font-face-trebuchet-ms {
	background-position: 0 -5162px;
}

/* JSN Layout (for setting column width) */
legend + div > a.jsn-layout-helper {
	margin-top: -60px;
}
.jsn-joomla3 legend + div > a.jsn-layout-helper {
	margin-top: -55px;
}

#jsn_templateColumns.jsn-bootstrap .thumbnails {
	margin: 0;
}

.jsn-master .jsn-bootstrap .jsn-layout {
	clear: both;
	position: relative;
}
.jsn-master .jsn-bootstrap .jsn-layout li,
.jsn-master .jsn-bootstrap .jsn-layout li.ui-state-highlight {
	margin: 5px 0px 5px 10px;
	border: 0;
	padding: 0;
	text-align: center;
}
.jsn-master .jsn-bootstrap ul#jsn_templateColumns_mainColumns_contentColumns li,
.jsn-master .jsn-bootstrap ul#jsn_templateColumns_mainColumns_contentColumns li.ui-state-highlight {
	margin-left: 7px;
}
.jsn-master .jsn-bootstrap .jsn-layout.ui-sortable > li {
	cursor: move;
}
.jsn-master .jsn-bootstrap .jsn-layout.ui-sortable .ui-resizable-e {
	width: 10px;
	right: -10px;
	background: url(../images/backgrounds/resizable-panel-bg.png) center center no-repeat;
	opacity: 0.4;
}
.jsn-master .jsn-bootstrap ul#jsn_templateColumns_mainColumns_contentColumns .ui-resizable-e {
	width: 7px;
	right: -7px;
}
.jsn-master .jsn-bootstrap .jsn-layout li.ui-state-highlight .thumbnail {
	border-style: dashed;
	background-color: #ffffe0 !important;
	text-indent: -9999px;
}
.jsn-master .jsn-bootstrap .jsn-columns-size > div > .jsn-layout > li > div > .thumbnail {
	background-color: rgba(255,255,255,0.9);
}
.jsn-master .jsn-bootstrap .jsn-columns-size > div > .jsn-layout > li > div > .thumbnail:hover,
.jsn-master .jsn-bootstrap .jsn-columns-size > div > .jsn-layout > li > div > .thumbnail:focus {
	background-color: #FAFAFA;
}
.jsn-master .jsn-bootstrap ul li .thumbnail {
	display: table;
	width: 100%;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
.jsn-master .jsn-bootstrap ul li .thumbnail .caption {
	display: table-cell;
	vertical-align: middle;
	min-height: 20px;
	overflow: hidden;
}
.jsn-master .jsn-bootstrap ul#jsn_templateColumns_mainColumns > li > div > .thumbnail {
	height: 100px;
	padding: 0;
}
.jsn-master .jsn-bootstrap ul#jsn_templateColumns_mainColumns > li > div > .thumbnail .thumbnail {
	height: 98px;
}
.jsn-master .jsn-bootstrap .jsn-layout .jsn-layout li {
	margin-top: 0;
	margin-bottom: 0;
}
.jsn-master .jsn-bootstrap .jsn-layout .jsn-layout li .thumbnail {
	border-radius: 0 0 0 0;
	border-width: 0 1px;
	box-shadow: none;
	padding: 5px;
}
.jsn-master .jsn-bootstrap .jsn-layout .jsn-layout li.first-column .thumbnail {
	border-left: 0;
}
.jsn-master .jsn-bootstrap .jsn-layout .jsn-layout li.last-column .thumbnail {
	border-right: 0;
}

.jsn-master .jsn-layout .jsn-layout-grid-preview {
	position: absolute;
	display: none;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	opacity: .5;
}
.jsn-master .jsn-layout .jsn-layout-grid-preview > div {
	position: absolute;
	top: 0;
	width: 10px;
	background: yellow;
	opacity: .4;
}
.jsn-master .jsn-bootstrap ul#jsn_templateColumns_mainColumns_contentColumns .jsn-layout-grid-preview > div {
	width: 7px;
}

/* JSN Social Integration */
.jsn-social-integration-button {
	margin-left: 3px;
}
.jsn-free-edition #jsn_socialIcons ul.jsn-items-list.ui-sortable {
	position: relative;
}
.jsn-free-edition #jsn_socialIcons ul.jsn-items-list.ui-sortable:before {
	content: "";
	display: block;
	clear: both;
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(255,255,255,0.5);
	z-index: 100;
}

/* PRO Edition only message box */
#jsn_pro_edition_only_modal {
	margin-top: -64px;
	height: 128px;
}

/* Form validation */
.jsn-bootstrap input.invalid {
	border-color: red;
}

.jsn-bootstrap .jsn-form-validation-failed {
	position: fixed;
	left: 50%;
	top: 33.3%;
	max-width: 50%;
	padding-right: 40px !important;
}
.jsn-bootstrap .jsn-form-validation-failed .close {
	position: absolute;
	top: 7px;
	right: 10px;
	padding-left: 6px;
}

/* Fix for Joomla 3.x's default admin template */
.jsn-joomla3 .radio input[type="radio"],
.jsn-joomla3 .checkbox input[type="checkbox"] {
	margin-top: 2px;
}

.jsn-joomla3 .chzn-container {
	width: 220px !important;
}

/* Template maintenance */
#jsn-template-maintenance {
	margin-top: -60px;
}

#jsn-template-parameters-restoration {
	text-align: center;
}
#jsn-template-parameters-restoration .jsn-template-parameters-backup {
	height: auto !important;
	margin-bottom: 0 !important;
}
/* Override css jquery-ui-1.9.0 */
.ui-widget input,
.ui-widget select,
.ui-widget textarea,
.ui-widget button {
	font-size: 14px;
}